[submodule "public"]
	path = public
	url = https://github.com/sinanugur/sinanugur.github.io.git
	branch = master
[submodule "themes/academic-submodule"]
	path = themes/academic-submodule
	url = https://github.com/gcushen/hugo-academic.git
